@mixin b-radius($property) {
        -webkit-border-radius: $property;
        -moz-border-radius: $property;
        -ms-border-radius: $property;
        -o-border-radius: $property;
        border-radius: $property;
}

@mixin transition($property) {
    transition: all $property ease-in-out;
    -webkit-transition: all $property ease-in-out;
    -moz-transition: all $property ease-in-out;
    -ms-transition: all $property ease-in-out;
    -o-transition: all $property ease-in-out;
}

@mixin transform($property) {
    -webkit-transform: $property;
    -moz-transform: $property;
    -ms-transform: $property;
    -o-transform: $property;
    transform: $property;
}




